
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 1080px;
    margin: auto; 
    background-color: #F2F1F0;
}
/* TOP SECTION STYLE CODE'S */
/* TOP SECTION STYLE CODE'S */

.top-sec .social{
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.top-sec .social .left-bar{
    display: flex;
    flex-direction: row;
    width: 435px;
    height: 27px;
    align-content: center;
    justify-content: space-between;
}
.top-sec .social .left-bar .phone a,.email a{
    align-content: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #313131;
    margin-left: 13px;
}
.top-sec .social .left-bar .phone img,.email img{
    height: 24px;
    width: 24px;
}
.top-sec .social .left-bar .phone ,.email {
   align-content: center;
   display: flex;
}
.top-sec .social .socials ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}
.top-sec .social .socials a{
    direction: rtl;
    display: flex;
    position: relative;
    right: 0;
    text-decoration: none;
}
.top-sec .social .socials{
    width: 192px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 0;
}
.top-sec .social .socials img{
    width: 24px;
    height: 24px;
}
.top-sec .mid-bar{
    width: 85%;
    height: 0;
    border-top: 1px solid #909090;
    margin: auto;
    opacity: 50%;
    border-radius: 1px;
}

/* NAVBAR STYLE CODE'S */


/* NAVBAR STYLE CODE'S */

.top-sec .navbar{
    width: 85%;
    height: 60px;
    margin: auto;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.top-sec .navbar .menu nav{
    width: 600px;
}
.top-sec .navbar .menu {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    height: 27px;
    align-items: center;
}
.top-sec .navbar .menu ul{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
}
.top-sec .navbar .menu ul li a{
    text-decoration: none;
    color: #313131;
    font-size: 18px;
    font-weight: 400;
}
.top-sec .navbar .menu ul li .dropdown img{
    position: relative;
    right: -9.5px;
    top: 1px;

}
.top-sec .navbar .menu ul li .dropdown{
    align-items: center;
    display: flex;

}

.navbar .menu .hamburger {  
    display: none; 
    cursor: pointer;  
    flex-direction: column;  
    width:30px;  
    height:21px;  
    justify-content: space-between;  
    margin:5px;  
    }  
    .bar {  
        height:3px;  
        width:100%;  
        background-color: #fff;  
        transition:0.3s;  
        }
.top-sec .navbar .btn  {
    width: 253px;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
} 
.top-sec .navbar .btn .s-up{
    width: 149px;
    height: 60px;
    background-color: #F5993C;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}
.top-sec .navbar .btn .s-up a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400; 
}    
.top-sec .navbar .btn .s-in {
   width: 72px;
   height: 60px; 
   align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}   
.top-sec .navbar .btn .s-in a{
    text-decoration: underline;
    color: #F5993C;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px; 
}

/* MIDDLE SECTION STYLE CODE'S */


/* MIDDLE SECTION STYLE CODE'S */

.mid-sec{
    width: 85%;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    display: flex;
    position: relative;
    display: flex;
}   

/* MIDDLE SECTION LEFT-SIDE STYLE CODE'S */

/* MIDDLE SECTION LEFT-SIDE STYLE CODE'S */

.mid-sec .left-sec{
    width: 785px;
    height: 372px;
    display: flex; position: relative;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}
.mid-sec .left-sec p.heading{
    font-family: "Bebas Neue", sans-serif;
    font-size: 96px;
    font-weight: 400;
    line-height: 112px;
    color: #313131;
    padding: 0;
    margin: 0;
}
.mid-sec .left-sec p.text{
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #909090;
    padding: 0;
    margin: 0;
}
.mid-sec .left-sec .btn{
    display: flex;
    flex-direction: row;
    width: 360px;
    justify-content: space-between;
    align-items: center;
}
.mid-sec .left-sec .btn button.learn{
    width: 149px;
    height: 60px;
    border-radius: 32px;
    border: 1px solid #313131;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
}
.mid-sec .left-sec .btn .watch button{
    width: 179px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}
.mid-sec .left-sec .btn .watch .play{
    width: 48px;
    height: 48px;
    display: flex;
    position: relative;
background-color: #FFFFFF;
border-radius: 100%;
box-shadow: 2px 0px 50px hwb(0 0% 100% / 0.144) ;
align-items: center;
justify-content: center;
}
    
.mid-sec .left-sec .btn .watch img{
    width: 24px;
    height: 24px;
    
}

/* MIDDLE SECTION RIGHT-SIDE STYLE CODE'S */

.mid-sec .right-sec{
    width: 890px;
    height: 559px;
    position: relative;
    display: flex;
    right: 0%;
    position: absolute;
}

.mid-sec .right-sec img{
    position: absolute;
}

.mid-sec .right-sec img#l-rec{
    width: 800px;
    height: 539px;
    position: absolute;
    right: 0;

}
.mid-sec .right-sec img#s-rec{
    width: 192px;
    height: 470px;
    position: absolute;
    right: 85px;
    bottom: 0;

}
.mid-sec .right-sec img#car{
    width: 890px;
    height: 559px;
    position: absolute;
    right: -10px;
    top: 30px;
}

/* MIDDLE SECTION HOVERING-PART STYLE CODE'S */

.mid-sec .hovering-sec{
    position: absolute;
    width: 71%;
    height: 131px;
    background-color: #FFFFFF;
    border-radius: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 62px;
    bottom: 0;
    box-shadow: 20px 0 50px rgba(0, 0, 0, 0.053);
}
.mid-sec .hovering-sec .location,.car-t,.pickup,.return{
    height: 62px;
    
}

.mid-sec .hovering-sec .bar{
    width: 1px;
    height: 60px;
    border-right: 1px solid #909090;
}

.mid-sec .hovering-sec .search button{
    width: 160px;
    height: 60px;
    background-color: #6ED4D4;
    border-radius: 96px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    border: none;
    text-align: center;
    justify-content: center;
}

.mid-sec .hovering-sec label{
    color: #909090;
    font-size: 18px;
    font-weight: 400;
    display: block;
    align-items: baseline;
}
.mid-sec .hovering-sec select{
    align-items: end;
    margin-left: 3px;
    position: relative;
    display: inline-block;
    left: -10px;
    bottom: -5px;
    padding-left: 10px;
}

.mid-sec .hovering-sec .location select{
    width: 202px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(img/chevron-down.svg) ;
    background-position: right;
    background-repeat: no-repeat;

}
.mid-sec .hovering-sec .location img{
    position: relative;
    bottom: -9.5px;
    width: 24px;
    height: 24px;
}
.mid-sec .hovering-sec .car-t select{
    width: 175px;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    font-family: "Poppins", sans-serif;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(img/chevron-down.svg) ;
    background-position: right;
    background-repeat: no-repeat;
}
.mid-sec .hovering-sec .car-t img{
    position: relative;
    bottom: -10px;
    width: 24px;
    height: 24px;
}
.mid-sec .hovering-sec select:focus{
    border: none;
    outline: none;
}
.mid-sec .hovering-sec option{
    display: flex;
    position: absolute;
    
}


input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}
.pickup input:before {
    position: absolute;
    top: 0px; left: 3px;
    content: attr(data-date);
    display: flex;
    color: black;
}

.return input:before {
     position: relative;
     top: 0px; left: 3px;
     content: attr(data-date);
     display: inline-block;
     color: black;
 }
.mid-sec .hovering-sec .pickup input{
    width: 162px;
    height: 24px;
    position: relative;
    bottom: -9px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(img/chevron-down.svg) ;
    background-position: right;
    background-repeat: no-repeat;

}
.mid-sec .hovering-sec .pickup img{
    position: relative;
    bottom: -7px;
    width: 24px;
    height: 24px;
}
.mid-sec .hovering-sec .return input[type="date"]{
    width: 162px;
    height: 24px;
    position: relative;
    bottom: -2px;
    font-size: 17px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(img/chevron-down.svg) ;
    background-position: right;
    background-repeat: no-repeat;

}
.mid-sec .hovering-sec .return img{
    position: relative;
    bottom: -7px;
    width: 24px;
    height: 24px;
}

/* FOOTER SECTION STYLE CODE'S */

footer {
    height: 181px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    bottom: -65px;

}
footer .brands{
    width: 85%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    margin: auto 380px;
    opacity: 48%;
    
    
}
footer .brands a{

    height: 54px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
}